<?xml version="1.0" encoding="utf-8"?>

<!--
- logback.xml
-
- Copyright (c) 2019 Rafael Corchuelo.
-
- In keeping with the traditional purpose of furthering education and research, it is
- the policy of the copyright owner to permit non-commercial use and redistribution of
- this software. It has been tested carefully, but it is not guaranteed for any particular
- purposes.  The copyright owner does not offer any warranties or representations, nor do
- they accept any liabilities with respect to them.
-->

<configuration 
	xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
>
 	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
    		<layout class="acme.framework.utilities.LogbackCustomLayout" />
    	</encoder>
    </appender>
 
    <root level="error">
        <appender-ref ref="Console" />
    </root>
    
    <root level="warn">
        <appender-ref ref="Console" />
    </root>
</configuration>